@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{ 
    -ms-overflow-style: none; 
} 
::-webkit-scrollbar { 
    display: none; 
}


table tr{
    display:block;
    float:left;
}

table th, td{
    display:block;
}

.rootDiv{
    opacity:0;
    display:none;
}

.loadingText{
    position:relative;
    display:block;
    bottom:50px;
    opacity: 0;
}

.loadingDotDiv{
    position:relative;
    bottom:50px;
    font-size:1.2em;
}

.loadingDot1{
    position:relative;
    margin-left:10px;
    margin-right:10px;
    opacity: 0;
}
.loadingDot2{
    position:relative;
    margin-left:10px;
    margin-right:10px;
    opacity: 0;
}
.loadingDot3{
    position:relative;
    margin-left:10px;
    margin-right:10px;
    opacity: 0;
}

.loadingDiv{
    position:relative;
    top:30%;
    text-align: center;
}

.circle_progress { transform: rotate(-90deg); margin:0; }
.frame, .bar { fill: none; }
.frame { stroke: #e6e6e6; }
.bar {
  stroke: #03c75a;
  stroke-linecap: round;
}

.value{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:37%;
    text-align: center;
    line-height: 120px;
}

#header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
}

.customNav{
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.2);
    width:100%;
    top:0;
    display:flex;
    flex-direction:row;
    margin:0;
    padding:0 0 0 80;
    background:#fff;
    list-style-type:none;
    font-family: 'Roboto Condensed', sans-serif
}

.customNav li{
    font-size:1.5em;
    margin-left:20px;
}

.customNav li span{
    cursor:pointer;
}

.distHR{
    margin-top:20vh;
    border-top:2px solid lightgrey;
    border-bottom:0;
    width:98%;
    opacity:0;
}

.distHR2{
    margin-top:20vh;
    border-top:2px solid lightgrey;
    border-bottom:0;
    width:98%;
}

@media screen and (max-width:1500px){
    .backgroundArea{
        height:2150px;
    }

    .profileArea{
        height:500px;
        margin-bottom:100px;
    }

    .techStackArea{
        top:14vh;
        height:650px;
    }

    .recordArea{
        top:14vh;
        height:950px;
    }

    .profileArea #profileImage{
        margin:30px 30px 30px 100px;
    }


    #profileContent{
        left:500px;
    }

    .techStackArea .techStackImage img{
        margin-left:567px;
    }
    .recordArea .recordListContainer{
        padding-left:15%;
    }
    .recordArea .recordListContainer .recordRightList{
        padding-right:15%;
    }
    .customScrollBarContainer {
        height:630px;
    }
}

@media screen and (min-width:1501px){
    .backgroundArea{
        height:2500px;
    }

    .profileArea{
        height:600px;
    }

    .techStackArea{
        top:14vh;
        height:900px;
    }

    .recordArea{
        top:14vh;
        height:900px;
    }

    .profileArea #profileImage{
        margin:30px 30px 30px 250px;
    }
    #profileContent{
        left:600px; 
    }
    #profileInfo{
        width:1285px;
    }
    .distHR, .distHR2{
        width:1300px;
    }
    .techStackArea .techStackImage img{
        margin-left:795px;
    }
    .recordArea .recordListContainer{
        padding-left:20%;
    }
    .recordArea .recordListContainer .recordRightList{
        padding-right:30%;
    }
    .customScrollBarContainer {
        height:870px;
    }
}



.profileArea{
    position:relative;
    background-color:#fff;
    top:70px;
    margin-right:15px;
    border-radius:30px;
    width:100%;
}

.profileArea #profileImage{
    position:relative;
    width:300px;
    height:300px;
    display:inline-block;
    opacity:0;
}

.profileArea #profileImage img{
    width:280px;
    height:300px;
    border-radius:300px;
    position:absolute;
    z-index:2;
}

#shadowCircle{
    background-color:black;
    width:280px;
    height:300px;
    border-radius:300px;
    display:inline;
    position:absolute;
    z-index:1;
    margin-left:20px;
}

.profileArea #profileContent{
    position:absolute;
    display:inline-block;
    font-family: 'Noto Sans KR', sans-serif;
}

.profileArea #profileContent #profileMe{
    opacity:0;
}

.profileArea #profileContent #profileInfo{
    opacity:0;
}

.profileArea #profileContent #nameElem{
    font-size:45px;
    font-weight:900;
    margin-top:15px;
    margin-bottom:10px;
}

.profileArea #profileContent #nameElem #nameElemENG{
    font-size:20px;
    font-weight:500;
}

.profileArea #profileContent #devValueElem{
    font-size:20px;
    font-weight:700;
}

.profileArea #profileContent #profileHR{
    border-top:2px solid lightgrey;
    border-bottom:0;
}

.profileArea #profileContent #profileInfo{
    position:absolute;
    background-color:#989898;
    background-repeat: no-repeat;
    margin-top:50px;
    width:900px;
    height:180px;
    border-radius: 20px;
    padding-top:15px;
    padding-left:15px;  
}

.profileArea #profileContent #profileInfo table th{
    color:#fff;
}

.profileArea #profileContent #profileInfo table td{
    margin-left:10px;
}

.profileArea #profileContent #profileInfo #profileInfoTable th{
    line-height: 35px;
}

.profileArea #profileContent #profileInfo #profileInfoTable #tableCol td{
    line-height: 35px;
}

.profileArea #profileContent #profileInfo #profileInfoTable #tableInfoElem td{
    line-height: 35px;
}

.profileArea #profileContent #profileInfo #tableCol > td{
    color:#fff;
}

.profileArea #profileContent #profileInfo #tableCol > td{
    color:#fff;
}

.profileArea #profileContent #profileInfo  #tableinfoElem > td{
    font-weight:500;
    color:beige;
}

.profileArea #profileContent #profileInfo  #tableinfoElem > td > a{
    font-weight:500;
    color:beige;
    text-decoration: none;
}

.profileArea #profileContent #profileInfo table tr td img{
    margin:2.5 0;
    width:30px;
    height:30px;
    display:inline;
}

.techStackArea{
    position:relative;
    display:block;
}


.techStackArea .techStackImage{
    position:relative;
    width:100%;
    display:block;
    opacity:0;
}

.techStackArea .techStackImage img{
    position:relative;
    width:300px;
    height:300px;
    border-radius:300px;
}

.techStackArea .techStackImage hr{
    width:50%;
    border-top:2px solid lightgrey;
    border-bottom:0;
}

.techStackArea .techStackBarContainer{
    position:relative;
    width:100%;
    text-align: center;
    
}

.techStackBarContainer #techStackBar{
    width:100%;
    padding-left:25%;
}

.techStackBarContainer #techStackBar #techStackTable{
    width:100%;
}

.techStackBarContainer #techStackBar #techStackTable #techStackTableChild0{
    text-align: center;
    width:10%;
}
.techStackBarContainer #techStackBar #techStackTable #techStackTableChild1{
    width:20%;
}

.techStackBarContainer #techStackBar #techStackTable #techStackTableChild2{
    width:40%;
}

.techStackBarContainer #techStackBar #techStackTable tr th,td{
    line-height: 50px;
}

.progress-bar{
    border:1px solid #878787;
    border-radius: 30px;
}

.recordArea{
    position:relative;
    display:block;
}

.recordArea .recordListContainer{
    position:absolute;
    top:200px;
    width:100%;
    opacity: 0;
}

.recordArea .recordListContainer .recordLeftList{
    display:inline-block;
}

.recordArea .recordListContainer .recordRightList{
    float:right;
}



.recordList h2{
    background-image:url('../images/circleMarker.png');
    background-size:40px;
    background-repeat:no-repeat;
    padding-left:50px;
}

.recordList ul{
    list-style:none;
    margin-left:20px;
    border-left:2px dotted grey;
}

.recordList ul li{
    height:60px;
    
}

.recordList ul li p{
    margin-bottom:0;
    font-weight: 500;
}

.distHR3{
    margin-top:20vh;
    border-top:2px solid lightgrey;
    border-bottom:0;
    width:98%;
}

.openFooterContainer{
    position:relative;
}

.openFooter{
    position:absolute;
    left:48%;
    top:15px;
    font-size:2em;
    height:100px;
    transition:0.5s ease-in-out;
}

.openFooter #openArrow{
    cursor:pointer;
}

.openFooterText{
    position:absolute;
    left:51%;
    top:15px;
    opacity:0;
    font-size:1.5em;
    transition:0.5s ease-in-out;
}

.footer{
    position:relative;
    top:150px;
    opacity:1;
    display:none;
    text-align: center;
    transition:0.5s ease-in-out;
}

.footer .footerContent{
    margin-top:30px;
}

.footer .footerContent hr{
    width:30%;
}

.footer .footerContent img{
    width:30px;
    height:30px;
    display:inline;
}

.footer .footerContent span a{
    margin-left:10px;
    text-decoration: none;
}

.footer #closeArrow{
    font-size:2em;
    cursor:pointer;
}

.topBtn{
    position:fixed;
    top:80%;
    left:92%;
    opacity:0;
    display:none;
}

#topArrow{
    z-index: 1000;
    font-size:5em;
    cursor:pointer;
}

.customScrollBarWrapping{
    position: fixed;
    top:6%;
    left:99.5%;
    right:0;
    opacity:0;
    z-index:1000;
}

.customScrollBarContainer {
    width: 5px;
    background-color: lightgray; 
}

.customScrollBar {
    height:11.1%;
    width: 100%;
    background-color:#878787;
}